<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="layout/header :: myheader"></div>
</head>
<body>
<div>
    <div th:replace="layout/navbar :: navbar"></div>
    <div th:if="${param.error}">
        Invalid username and password.</div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1>Login Page</h1>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>E-mail: </td>
                <td><input type="email" name="email" required></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td><input type="submit" value="login" /></td>
            </tr>
        </table>
    </form>

</div>
<div th:insert="layout/footer :: footer"></div>
</body>
</html>